<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\Users\supak\Desktop\ntflask\.venv\Scripts\python.exe|c:\Users\supak\Desktop\ntflask\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="final.app" />
    <add key="PYTHONPATH" value="c:\Users\supak\Desktop\ntflask" />
  </appSettings>
</configuration>
